@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-orange-gradient {
  background: linear-gradient(0deg, #D5995F 19.95%, rgba(213, 153, 95, 0.0001) 93.41%);
}
}
@layer base {
  :root {
    --background: 280 36% 39%;
    --foreground: 206 50% 18%;
    --border: 214.3 31.8% 91.4%;
    --primary:  280 36% 39%;
    --primary-foreground: 0 0% 20% 1;
    --secondary: 206 50% 18%%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --ring: 215 20.2% 65.1%;
    --radius: 0.5rem;
  }


}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply  text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
